body{
    margin:0px;
    background-color: #eef1ff;
    font-family:'Times New Roman', Times, serif;
    padding:40px;
    display:flex;
    justify-content: center;
}

.resume{
    width: 750px;
    background: #ffffff;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_section h1 {
    font-size: 36px;
    color: #1c2580;
    margin: 0;
    font-weight:600px;
}

.header_section p {
    margin: 4px 0;
    color:black;
    font-size:15px;
}

.header_section img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 4px solid #cdd8ff;
    object-fit: cover;

}

h2 {
   
    background-color:rgb(226, 167, 226);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 500;
}

.box {
    margin-top: 10px;
    font-size: 15px;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

ul li {
    
    font-size:15px;
    margin-bottom:6px;
    padding-left:5px;
    border-left:4px solid #c7b8ff;
}

p {
    font-size: 15px;
    color: black;
}